<div class="container">
  <h1>File Processing</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="textFileName">Text File Name:</label>
      <input type="text" required class="form-control"  #name1="ngModel" [class.is-invalid]="name1.invalid" id="textFileName" name="textFileName" [(ngModel)]="formData.textFileName" required>
      <small class="text-danger" [class.d-none]="!name1.dirty || name1.valid">Please enter the text File path</small>
      <!--<div *ngIf="!formData.textFileName" class="error-message">Text File Name is required.</div>-->
      {{name1.invalid}}
      {{!name1.dirty}}
      {{name1.valid}}
    </div>
    <div class="form-group">
      <label for="excelFileName">Excel File Name:</label>
      <input type="text" class="form-control" id="excelFileName" name="excelFileName" [(ngModel)]="formData.excelFileName" required>
      <div *ngIf="!formData.excelFileName" class="error-message">Excel File Name is required.</div>
    </div>
    <button type="submit" class="btn btn-primary">Process Files</button>
  </form>
</div>
