<div class="container">
<div class="card">
    <h1>Email Composer App</h1>
<mat-form-field class="field" appearance="fill">
    <mat-label>From</mat-label>
    <input matInput>
  </mat-form-field>
  <br/>
  <mat-form-field class="field">
    <mat-label>Subject</mat-label>
    <input matInput>
  </mat-form-field>
  <br/>
  <mat-form-field class="field">
    <mat-label>Enter your mail</mat-label>
    <textarea rows="20" matInput placeholder="Please Compose Your Email"></textarea>
  </mat-form-field>

<div class="text-center">
<button type="submit"  mat-flat-button color="warn">Submit</button>
</div>
</div>

</div>